*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body , html {
	height: 100%;

}

body {
	background: linear-gradient(50deg, #8E0E00 , #1F1C18);
	animation: gradient 3s ease infinite;	
	background-size: 300% 300%;
} 

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100%  50%;
	}
	100% {
		background-position: 0 50%;
	}
}


.wraper {
	overflow-x: hidden; 
	height: 100%;
}

.container {
   width: 1300px;
   margin: 0 auto;
}


.main_ul {
	text-align: center;
	display: flex;
	justify-content: center;
	column-gap: 20px;
	padding: 10px 0;
	background: radial-gradient(rgb(68, 66, 66) , rgb(46, 44, 44));
}

.main_ul > li {
	text-transform: uppercase;
	background: rgb(95, 88, 74);
	position: relative;

}

.main_ul > li:hover, 
.second_ul li:hover   {
	background:rgb(36, 27, 27);
}

.main_ul > li:hover .second_ul {
	/* display: block; */
	top: 100%;
}

.main_ul > li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px 40px;
}

.second_ul {
	position: absolute;
	transition: all 1s cubic-bezier(.82,.1,.31,.92);
	top: -600%;
	/* top: 100%; */
	left: 0;
	/* display: none; */
	white-space: nowrap ;
	padding-top: 10px;
}

.second_ul li {
	background: rgb(130, 141, 139);
}

.layouts {
	position: relative;
}

.last_ul {
	position: absolute;
	top: 0%;
	right: -1000%;
	/* right: 100%; */
	/* display: none; */
	padding-right: 5px;
	transition: all 1s cubic-bezier(.82,.1,.31,.92);
}

.second_ul > li:hover .last_ul {
   /* display: block; */
	right: 100%;
}

.second_ul > li:hover,
.last_ul li:hover {
   background:rgb(36, 27, 27);
}

.home_solid ,
.images_solid  {
   width: 20px;
   height: 20px;
   fill: #fff;
	position: absolute;
	top: 7px;
	left: 12px;
}

.level_down {
	width: 20px;
   height: 20px;
	fill: #fff;
	position: absolute;
	top: 7px;
	right: 12px;
}


.hover_me {	
	position: fixed;
	bottom: 0px;
	right: 300px;
	width: 250px;
	transition: all 0.8s cubic-bezier(.82,.1,.31,.92);
	transform:translateY(calc(100% - 45px));
}


h3 {
	background: rgb(95, 88, 74);
	font-size: 25px;
	padding: 10px 10px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: 700;
	animation: shake 1s ease-in-out infinite alternate;
}



@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-5px, 0px) rotate(1deg); }
	30% { transform: translate(5px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-5px, 1px) rotate(0deg); }
	70% { transform: translate(5px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.hover_me:hover h3 {
	animation: none;
}

.ul_menu  {
	background: rgb(130, 141, 139);
	padding: 40px 10px;
}

.hover_me:hover {
	transform: translateY(0);
}

.hover_me a:hover{
	background: rgb(55, 58, 50);
	
}

.hover_me  svg:hover {
	transform: rotate(320deg);
	transition: 1s all ease;
}

.ul_menu svg {
	width: 40px;
	height: 40px;
	fill: #fff;
}

.ul_main {
	width: 140px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4px;
}

.ul_main li {
	border: 2px solid black;
}

.link {
	display: block;
	line-height: 0;
}

.ul_menu ul {
	transform: rotate(45deg);
}

.ul_menu svg {
	transform: rotate(-45deg);
}

.ul_main > li a {
	padding: 4px;
}

.tape {
	background: rgb(255, 255, 1);
	position: relative;
	font-size: 30px;
	font-weight: 800;
	margin-top: 50%;
	height: 30px;
	overflow: hidden;
	transform: rotate(6deg);
}

.danger {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	text-transform: uppercase;
	animation: tape 15s linear infinite;
	
}

.danger + .danger {
	left:1346px;
}

@keyframes tape {
	0%{
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-1346px, 0);
	}
}